
//--- COLORS ---
$green:         #4CD964;
$syan:          #5AC8FA;
$blue:          #007AFF;
$purple:        #5856D6;
$magenta:       #FF2D70;
$red:           #FF3B30;
$orange:        #FF9500;
$yellow:        #FFCC00;
$gray:          #8E8E93;

$color-border:  #e6e6e6;
$color-border-active: #9b9b9b;

$text-main: #4A4A4A;
$text-second: #878787;
$text-subtitle: #8F8E94;


//z-index

$z-top: 999;
$z-mid: 500;
$z-low: 100;

// HEIGHT
$tabbar-height: 50px;


